<div class="container-fluid full-height">
    <div class="card custom">
        <div class="card-body">
            <h5 class="card-title" [ngClass]="'test'">Login</h5>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="username" [(ngModel)]="form.username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="emilys">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="password" [(ngModel)]="form.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="emilyspass">
                </div>

                <div class="form-check">
                    <input type="checkbox" name="rememberMe" [(ngModel)]="form.rememberMe" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                <button type="button" class="btn btn-primary float-right" (click)="login()">Login</button>
            </form>
        </div>
    </div>
</div>